// Universal Effects
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headerOne {
    background-color: lightblue;
    color: darkcyan;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.btnStyle {
    background-color: lightgreen;
    color:firebrick;
    text-transform: uppercase;
}

a{
    // for display:inline-block we can use width and height,top & bottom paddings/margins.
    display: inline-block;
    
    margin-top: 100%;
}